/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 juin 2017, 14:35:47
    Author     : romain
*/

body{
    background-color: orange;
}

label{
    color: red;
}